<div cdkOverlayOrigin #trigger="cdkOverlayOrigin"></div>

<div>
    <!-- <div  class="video-frame">
        <video
            id="video"
            muted
            playsinline
            outline
        ></video>
    </div>
    <div class="ui-pannel">
        <div *ngIf="isPlaying; else play">
            <button mat-icon-button (click)="handlePause()">
                <mat-icon>pause</mat-icon>
            </button>
        </div>
        <ng-template #play>
            <button mat-icon-button (click)="handlePlay()">
                <mat-icon>play_arrow</mat-icon>
            </button>
        </ng-template>

        <div *ngIf="isPlaying">
            <button mat-raised-button (click)="calibrate()">
                キャリブレーション
            </button>
        </div>
    </div> -->
    <p>pitch: {{deviceMotionDetector?.motion?.pitch}}</p>
    <p>yaw: {{deviceMotionDetector?.motion?.yaw}}</p>
    <p>roll: {{deviceMotionDetector?.motion?.roll}}</p>
    <p>alpha: {{deviceOrientationDetector?.orientation?.alpha}}</p>
    <p>beta: {{deviceOrientationDetector?.orientation?.beta}}</p>
    <p>gamma: {{deviceOrientationDetector?.orientation?.gamma}}</p>
    <br>
    <p>ax: {{deviceMotionDetector?.motion?.acceleration?.x}}</p>
    <p>ay: {{deviceMotionDetector?.motion?.acceleration?.y}}</p>
    <p>az: {{deviceMotionDetector?.motion?.acceleration?.z}}</p>
    <p>gx: {{deviceMotionDetector?.motion?.acceleration?.gravityX}}</p>
    <p>gy: {{deviceMotionDetector?.motion?.acceleration?.gravityY}}</p>
    <p>gz: {{deviceMotionDetector?.motion?.acceleration?.gravityZ}}</p>
    <p>rx: {{deviceMotionDetector?.motion?.acceleration?.rotationX}}</p>
    <p>ry: {{deviceMotionDetector?.motion?.acceleration?.rotationY}}</p>
    <p>rz: {{deviceMotionDetector?.motion?.acceleration?.rotationZ}}</p>
</div>

<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="openOverlay"
>
    <div class="overlay">
        <div>
            <button 
                mat-raised-button
                color="primary"
                (click)="handleAllowCameraPermission()"
                [disabled]="allowCameraPermission"
                class="my-4"
            >
                カメラへのアクセスを許可する
            </button>
        </div>
        <div>
            <button
                mat-raised-button
                color="primary"
                (click)="handleAllowOrientationPermission()"
                [disabled]="allowOrientationPermission"
                class="my-4"
            >
                動作と方向へのアクセスを許可する
            </button>
        </div>
        <div>
            <button
                mat-raised-button
                color="primary"
                (click)="handleAllowMotionPermission()"
                [disabled]="allowMotionPermission"
                class="my-4"
            >
                加速度センサへのアクセスを許可する
            </button>
        </div>
    </div>
</ng-template>
