<div cdkOverlayOrigin #trigger="cdkOverlayOrigin"></div>

<div>
    <div  class="video-frame">
        <video
            id="video"
            muted
            playsinline
            outline
        ></video>
    </div>
    <div class="ui-pannel">
        <div *ngIf="isPlaying; else play">
            <button mat-icon-button (click)="handlePause()">
                <mat-icon>pause</mat-icon>
            </button>
        </div>
        <ng-template #play>
            <button mat-icon-button (click)="handlePlay()">
                <mat-icon>play_arrow</mat-icon>
            </button>
        </ng-template>

        <div *ngIf="isPlaying">
            <button mat-raised-button (click)="calibrate()">
                キャリブレーション
            </button>
        </div>
    </div>
</div>

<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="openOverlay"
>
    <div class="overlay">
        <div>
            <button (click)="handleAllowCameraPermission()" [disabled]="allowCameraPermission">
                カメラへのアクセスを許可する
            </button>
        </div>
        <div>
            <button (click)="handleAllowOrientationPermission()" [disabled]="allowOrientationPermission">
                動作と方向へのアクセスを許可する
            </button>
        </div>
    </div>
</ng-template>
