@use "../../styles";

#video {
    height: 100vh - styles.$header-hight;
    width: 100vw;
    position: relative;
}

.video-frame {
    position: relative;
    text-align: center;
    -webkit-transform: scaleX(-1); 
    transform: scaleX(-1);
    min-width: 300px;
    min-height: 300px;
}

.ui-pannel {
    position: absolute;
    bottom: 0;
    margin-bottom: 28px;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
}

.overlay {
    width: 100vw;
    height: 100vh;
    background: white;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}