<div class="pa-3">
    <form [formGroup]="form">
        <h4>{{ title }}</h4>
        <mat-form-field>
            <mat-label>ユーザネーム</mat-label>
            <input matInput required formControlName="name">
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>パスワード</mat-label>
            <input matInput required type="password" formControlName="password">
        </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)="handleSubmit()" class="my-3">
        {{title}}
    </button>
</div>