@use "../../styles";

.toolbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: styles.$header-hight;

    div {
        min-width: 20%;
        max-width: 25%;
        display: flex;

        p {
            width: 100%;
            font-size: medium;
            word-wrap: break-word;
        }

        button {
            justify-content: end;
        }
    }
}